.products-page-container {
    height: 100dvh;
    /* background-image: url("https://img.freepik.com/free-photo/cement-texture_1194-5333.jpg"); */
}

.product-name {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

.animate-card {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}